
input{
    display: block;
    margin: 5% auto;
    padding: 15px 30px;
    color: gray;
    border: none;
    background-color: rgb(228, 228, 228);
}
input[type="submit"]{
    background-color: rgb(113, 175, 233);
    color: white;
}

form{
    background-color: rgb(211, 210, 210);
    margin: 5% 30%;
    padding: 30px 20px;
}
